<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="../static/script/jquery-1.7.2.js"></script>
    <script type="text/javascript">
        $(function () {

            $("#sub_btn").click(function () {
                let usernameValue = $("#username").val();
                let emailReg = /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/;
                if (!emailReg.test(usernameValue)) {// 提示用户
                    alert("用户邮箱输入不合法！");
                    return false;
                }

                let passwordValue = $("#password").val();
                let passwordReg = /^\w{5,15}$/;
                if (!passwordReg.test(passwordValue)) {
                    alert("密码不合法！字母/数字5到15位！");
                    return false;
                }
                let id = document.getElementsByName("ID");
                for (let i = 0; i < id.length; i++) {
                    if (id[i].checked)
                        var identify = id[i].value;
                }

                // var JSONobj = {"identify": identify, "username ": usernameValue, "password": passwordValue};


                let url = "http://localhost:8080/login?email=" + usernameValue + "&password=" + passwordValue + "&type=" + identify + "";

                $.post(url, function (data) {

                    if (data === "true") {
                        window.location.href="context.html";
                        return true;
                    } else {
                        alert(data);
                        return false;
                    }
                });


            });

        });

    </script>
</head>
<body>
<div id="header">
    <img class="logo_img" alt="" src="static/img/usst1.jpg">
    <span class="wel_word">在线学习平台</span>
</div>

<div class="login_banner">

    <div id="l_content">
        <span class="login_word">欢迎使用</span>
    </div>
        <div id="content">
            <div class="login_form">
                <div class="login_box">
                    <div class="tit">
                        <h1>上理工会员</h1>
                        <a href="regist.html">立即注册</a>
                    </div>
                    <div class="msg_cont">
                        <b></b>
                        <span class="errorMsg">请选择身份，并输入用户名和密码</span>
                    </div>
                    <div class="form">
                        <table align="center">
                            <tr>
                                <td width="50%">
                                    身份：
                                </td>
                                <td width="50%">
                                    <input type="radio" name="ID" value="student" checked="checked"/>学生
                                    <input type="radio" name="ID" value="teacher"/>教师
                                </td>
                            </tr>
                        </table>
                        <br/>
                        <label>用户邮箱：</label>
                        <input class="itxt" type="text" placeholder="请输入用户邮箱" autocomplete="off"
                               tabindex="1" name="username" id="username"/>
                        <br/>
                        <br/>
                        <label>用户密码：</label>
                        <input class="itxt" type="password" placeholder="请输入密码" autocomplete="off"
                               tabindex="1" name="password" id="password"
                        />
                        <br/>
                        <br/>
                        <input type="button" value="登录" id="sub_btn"/>
                    </div>

                </div>

            </div>
        </div>
</div>
<div id="bottom">
			<span>
				在线学习平台.Copyright &copy;2022
			</span>
</div>
</body>
</html>